################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/AIHub.Api/bin
/src/AIHub.Api/obj
